body{
    margin:0;
    font-family: 'Bebas Neue';

}
                    /* ---------------------- NAVBAR START---------------------- */

#navbar{
    width: 93.65vw;
    margin: 0 3.17vw;
    height: hug(1.83%);
    display: flex;
    justify-content: space-between;
    font-size: 42px;
    padding-top: 16px;
    padding-bottom: 16px;

}

#logo{
    font-family: 'Bebas Neue';
    width: hug(8.13%);
    height: fixed(1.1%);
    font-family: Bebas Neue;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;

}

#page-links{
    display: flex;
    gap: 32px;
    width: 23.41%;
    height:0.73%;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
}

#home{
    width: 48px;
    height: 0.73%;
}
#projects{
    width: 81px;
    height: 0.73%;
}
#about{
    width: 55px;
    height: 0.73%;
}
#contacts{
    width: 74px;
    height: 0.73%;
}




.divider{
    display: block;
    width: 100vw;
    height: 0;
    border-top:1px solid black;
    gap: 0;
    /* z-index: 2; */
    margin: 0;
    padding:0 ;
}



                    /* ---------------------- NAVBAR END---------------------- */


                    /* ---------------------- CONTAINER START---------------------- */


#container{
    width: 93.65vw;
    margin: 0 3.17vw;
    /* height: 96%; */
    padding: 48px 0;
}


                    /* ---------------------- MAIN DIV START---------------------- */

#main{
    display: block;
    width: 100%;
    /* font-size: 16px */
    text-align: center;
    /* gap: 48px; */
    padding: 96px 0 96px 0;


}                    

#main h1{

    font-size:120px;
    font-weight: 400;
    text-align: center;
    line-height: 120px;
    letter-spacing: -2%;
    margin: 0 0 48px 0;

}

#main img{
    width: 100%;
    margin: 0;
}
                    /* ---------------------- MAIN DIV END---------------------- */


                    /* ---------------------- PROJECT START---------------------- */

#project{
    width: 100%;
    padding-top:48px;

}                    

.row{
    display: flex;
    width: 100%;
    gap: 3.17%;
    padding-bottom: 48px;

}

.project_content{
    /* width: 27.51%; */
    width: 32%;
    /* background-color: antiquewhite; */
}

.project_content img{
    width: 100%;

}
.project_content p{
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto Mono';
    margin: 0;
}

.project_title{
    font-size: 20px;
}
.project_details{
    font-size:17px;
}


                    /* ---------------------- PROJECT END---------------------- */

                    /* ---------------------- Description START---------------------- */

#description{
    width: 93.65vw;
    padding: 96px 0;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;

}                    

#description p{
    width: 67.16%;
    margin: 0;
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    text-align: center;
}

                    /* ---------------------- Description END---------------------- */


                    /* ---------------------- SERVICES START---------------------- */

#services{
    width: 93.65vw;
    display: flex;
    /* height:61.926vh; */
    justify-content: space-between;
    padding:48px 0;
}
#services>p{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.services_content{
    display: flex;
    /* justify-content: space-between; */
    gap: 14%;
    width:48.21%;
}               

.services_content p{
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

                    /* ---------------------- Description END---------------------- */


                    /* ---------------------- CONTACTS START---------------------- */

#contact{
    width: 93.65vw;
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    align-items: center;
}              

#contact h1{
    font-family: Bebas Neue;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

#contact p{
    width: 46.42%;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.005em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
                    /* ---------------------- CONTACTS END---------------------- */

                    /* ---------------------- CONTACT_FORM START ---------------------- */

                    
#contact_form{
    width: 93.65vw;
    margin: 0 3.17vw;
    /* background-color: aqua; */
    /* padding-top: 10vh; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #212020;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#form button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 2vh;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#form button:hover {
    background: #2f3030;
}
textarea {
    resize: none;
}

#form{
    width: 29%;
}

#form h1{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

#form p{
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 5vh;

}

#form a{
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color:black;
    margin-top: 2vh;

}

#form a:hover{
    text-decoration: underline;
}

                    /* ---------------------- CONTACT_FORM END ---------------------- */




                    /* ---------------------- FOOTER START ---------------------- */

footer{
    width: 93.65vw;
    margin: 0 3.17vw;
    height: 10vh;
    padding: 4vh 0;
    /* background-color: #2f3030; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}          

footer p{
    font-family: Bebas Neue;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

footer button{
    width: 170px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    gap: 0px;
    border-radius: 8px ;
    border: 1px 0px 0px 0px;

    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: #fff;

}


                    /* ---------------------- FOOTER END ---------------------- */


