body{
    margin:0;
    font-family: 'Bebas Neue';

}
                    /* ---------------------- NAVBAR START---------------------- */

#navbar{
    width: 93.65vw;
    margin: 0 auto;
    height: 2.778vw;
    display: flex;
    justify-content: space-between;
    font-size: 2.778vw;
    padding-top: 1.058vw;
    padding-bottom: 1.058vw;

}

#logo{
    font-family: 'Bebas Neue';
    width: 7.97vw;
    height: 2.778vw;
    font-family: 'Bebas Neue';
    font-size: 2.778vw;
    font-weight: 400;
    line-height: 2.778vw;
    letter-spacing: -0.04em;
    text-align: left;

}

#page-links{
    display: flex;
    gap: 2.116vw;
    width: 23.2vw;
    height:2.778vw;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 1.852vw;
    line-height: 2.116vw;
    letter-spacing: -1%;
}

#home{
    width: 3.175vw;
    height: 2.778vw;
}
#projects{
    width: 5.357vw;
    height: 2.778vw;
}
#about{
    width: 3.638vw;
    height: 2.778vw;
}
#contacts{
    width: 4.894vw;
    height: 2.778vw;
}




.divider{
    display: block;
    width: 100vw;
    height: 0;
    border-top:1px solid black;
    gap: 0;
    margin: 0;
    padding:0 ;
}

.nav{
    transition: text-decoration 2s ease-in;
}

.nav:hover{
    text-decoration: underline;
}


                    /* ---------------------- NAVBAR END---------------------- */


                    /* ---------------------- CONTAINER START---------------------- */


#container{
    width: 93.65vw;
    margin: 0 auto;
    padding: 3.175vw 0;
}


                    /* ---------------------- MAIN DIV START---------------------- */

#main{
    display: block;
    width: 100%;
    text-align: center;
    padding: 6.349vw 0 6.349vw 0;
}                    

#main h1{

    font-size:7.937vw;
    font-weight: 400;
    text-align: center;
    line-height: 7.937vw;
    letter-spacing: -2%;
    margin: 0 0 3.175vw 0;

}

#main img{
    width: 100%;
    margin: 0;
}
                    /* ---------------------- MAIN DIV END---------------------- */


                    /* ---------------------- PROJECT START---------------------- */

#project{
    width:93.644vw;
    padding-top:3.175vw;
    
}                    

.row{
    display: flex;
    width: 100%;
    gap: 3.17%;
    padding-bottom: 3.175vw;
    
}

.project_content{
    width: 32%;
    transition: all ease 0.6s ;
}

.project_content img{
    width: 100%;

}
.project_content p{
    width: 100%;
    font-weight: 400;
    line-height: 1.587vw;
    font-family: 'Roboto Mono';
    margin: 0;
}

.project_title{
    font-size: 1.323vw;
}
.project_detail{
    font-size:1.124vw;
    
}

.project_content:hover{
    transform: scale(1.07);
}


                    /* ---------------------- PROJECT END---------------------- */

                    /* ---------------------- Description START---------------------- */

#description{
    width: 93.65vw;
    padding: 6.349vw 0;
    display: flex;
    justify-content: center;
    align-items: center;

}                    

#description p{
    width: 62.831vw;
    margin: 0;
    font-size: 3.175vw;
    line-height: 3.439vw;
    font-weight: 400;
    text-align: center;
}

                    /* ---------------------- Description END---------------------- */


                    /* ---------------------- SERVICES START---------------------- */

#services{
    width: 93.65vw;
    display: flex;
    justify-content: space-between;
    padding:3.175vw 0;
}
#services>p{
    font-family: Bebas Neue;
    font-size: 1.852vw;
    font-weight: 400;
    line-height: 2.116vw;
    letter-spacing: -0.01em;
    text-align: left;
}
.services_content{
    display: flex;
    gap: 14%;
    width:45.146vw;
}               

.services_content p{
    font-family: Roboto Mono;
    font-size: 1.323vw;
    font-weight: 400;
    line-height: 1.587vw;
    text-align: left;

}

                    /* ---------------------- Description END---------------------- */


                    /* ---------------------- CONTACTS START---------------------- */

#contact{
    width: 93.65vw;
    display: flex;
    justify-content: space-between;
    padding: 6.349vw 0;
    align-items: center;
}              

#contact h1{
    font-family: Bebas Neue;
    font-size: 3.175vw;
    font-weight: 400;
    line-height: 3.439vw;
    text-align: left;
}

#contact p{
    width: 43.472vw;
    font-family: Roboto Mono;
    font-size: 1.587vw;
    font-weight: 400;
    line-height: 2.116vw;
    text-align: left;
}
                    /* ---------------------- CONTACTS END---------------------- */

                    /* ---------------------- CONTACT_FORM START ---------------------- */

                    
#contact_form{
    width: 93.65vw;
    margin: 7vw auto;
    height: 50.193vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1vw;
    color: #212020;
    font-size: 1.058vw;
}

input, textarea {
    margin-bottom: 0.992vw;
    padding: 0.661vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.058vw;
}
#form button {
    background: #000000;
    color: #fff;
    border: none;
    padding: 0.661vw;
    margin-top: 0.767vw;
    border-radius: 5px;
    font-size: 1.058vw;
    cursor: pointer;
    border-radius: 8px;
}

#form button:hover {
    background: #2f3030;
}
textarea {
    resize: none;
}

#form{
    width:30.116vw;
}

#form h1{
    font-family: Bebas Neue;
    font-size: 1.852vw;
    font-weight: 400;
    line-height: 2.116vw;
    text-align: center;
}

#form p{
    font-family: Roboto Mono;
    font-size: 0.992vw;
    font-weight: 400;
    line-height: 1.323vw;
    text-align: center;
    margin-bottom: 1.918vw;

}

#form a{
    font-family: Roboto Mono;
    font-size: 0.992vw;
    font-weight: 400;
    line-height: 1.323vw;
    text-align: center;
    text-decoration: none;
    color:black;
    margin-top: 0.767vw;

}

#form a:hover{
    text-decoration: underline;
}

                    /* ---------------------- CONTACT_FORM END ---------------------- */




                    /* ---------------------- FOOTER START ---------------------- */

footer{
    width: 93.65vw;
    margin: 0 auto;
    height: 3.836vw;
    padding: 1.534vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}          

footer p{
    font-family: Bebas Neue;
    font-size: 1.852vw;
    font-weight: 400;
    line-height: 2.116vw;
    letter-spacing: -0.01em;
    text-align: left;
}

footer button{
    width: 14.243vw;
    height: 3.175vw;
    padding: 0.794vw 1.587vw;
    gap: 0px;
    border-radius: 8px ;
    border: 1px 0px 0px 0px;
    font-family: 'Roboto Mono';
    font-size: 1.323vw;
    font-weight: 400;
    line-height: 1.587vw;
    text-align: left;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


                    /* ---------------------- FOOTER END ---------------------- */


